<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="LogsConnection" connectionString="Server=server.domain.local\production;initial catalog=FestAgencyTestTaskLogs;persist security info=True;user id=production;password=qsIjA4WS5KOCGKb;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="SaContextConnection" connectionString="Server=server.domain.local\production;initial catalog=master;persist security info=True;user id=sa;password=_qwerty123!@#;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="LogsSqlDbName" value="FestAgencyTestTaskLogs" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LogsSqlDbStartSize" value="262144KB" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SqlDbUser" value="production" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SqlDbUserPassword" value="qsIjA4WS5KOCGKb" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>  
</configuration>